Source: ros-verystable-rosbag2
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-verystable-ament-cmake, ros-verystable-ament-cmake-gmock, ros-verystable-ament-index-cpp, ros-verystable-ament-lint-auto, ros-verystable-ament-lint-common, ros-verystable-pluginlib, ros-verystable-poco-vendor, ros-verystable-rcutils, ros-verystable-rosbag2-storage, ros-verystable-rosbag2-test-common, ros-verystable-rosidl-generator-cpp, ros-verystable-rosidl-typesupport-cpp, ros-verystable-rosidl-typesupport-introspection-cpp, ros-verystable-shared-queues-vendor, ros-verystable-test-msgs, ros-verystable-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-verystable-rosbag2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-verystable-ament-index-cpp, ros-verystable-pluginlib, ros-verystable-poco-vendor, ros-verystable-rcutils, ros-verystable-rosbag2-storage, ros-verystable-rosidl-generator-cpp, ros-verystable-rosidl-typesupport-cpp, ros-verystable-rosidl-typesupport-introspection-cpp, ros-verystable-shared-queues-vendor, ros-verystable-ros-workspace
Description: ROSBag2 client library
