Source: ros-testing-rosbag2-storage-default-plugins
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-testing-ament-cmake, ros-testing-ament-cmake-gmock, ros-testing-ament-lint-auto, ros-testing-ament-lint-common, ros-testing-pluginlib, ros-testing-rcpputils, ros-testing-rcutils, ros-testing-rosbag2-storage, ros-testing-rosbag2-test-common, ros-testing-sqlite3-vendor, ros-testing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-rosbag2-storage-default-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-testing-pluginlib, ros-testing-rcpputils, ros-testing-rcutils, ros-testing-rosbag2-storage, ros-testing-sqlite3-vendor, ros-testing-ros-workspace
Description: ROSBag2 SQLite3 storage plugin
